body {
  background-color:black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
/* header */
#header {
  display: flex;
  flex: 1,0,auto;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
  align-items: flex-end;
  border: 4px solid white;
  width: 100vw;
  height: 161px;
  background: url("https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159__340.jpg");
  background-size: cover;
}
#hero {
    background-size: 100%;
    margin-bottom: 100px;
    ;
}
.stretch {
    width: 100%;

}
/* navbar elements  */
.topnav {
  overflow: hidden;
  display: flex;
  justify-items: flex-end;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  align-items: flex-end;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: purple;
}

.topnav a.active {
  background-color: purple;
  color: white;
}

/*beginning of <about> and bio pic*/

#pic {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 300px;
  padding-left: 15%;
}

#seo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 450px;
    align-content: right;
  }

.containers {
        display: flex; 
        width: 1024px;
        margin: 15px auto 0;
        height: 300px;
        position: relative;
        align-items: flex-start;
        top: 0px;
        background-color: rgba(112, 61, 153, 0.472);
        border-style: groove;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex: 1;
    
  }



.refactor {

} 


aside {
  flex: 1 0 25%;
}


h3 {
    padding-left: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    color:white;

}

#columnheader {
    text-align: center;
}

section {
  flex: 4 0 75%;
}
p {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:900;
    color: white;
}

.industryconcepts {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 150px;
    padding: 0px;
    clear: both;
    float: right;
    width: 11%;
    height: 150%;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(95, 32, 147, 0.472);
    position: relative;
    top: -800px;
    font-size: large;
    font-weight: bold;
    color: white;
}
#javascript {
    width: 150px;
    height: 150px;
    font-size: large;
    color: white;

}
#html {
    width: 150px;
    height: 150px;

}
#css {
    width: 150px;
    height: 150px;

}
#jquery {
    width: 150px;
    height: 150px;

}
#bootstrap {
    width: 150px;
    height: 125px;

}
#node {
    width: 150px;
    height: 100px;
}
#mysql {
    width: 150px;
    height: 100px;

}
#mongodb {
    width: 150px;
    height: 150px;
}
#expressjs {
    width: 150px;
    height: 100px;
}
#reactjs {
    width: 150px;
    height: 125px;
}
footer {
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
    border: 4px solid black;
    width: 100vw;
    background: url("https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159__340.jpg");
    position: relative;
  }

  footer:hover {
    background: url("https://piquebeyond.com/wp-content/uploads/2017/05/space-header.jpg");
  }